<div class="container-fluid">
        <div class="row">
            <h1>Found Pairs: {{$ctrl.pairs}}</h1>
        </div>
        <div class="row text-center">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="flip col-sm-3" ng-repeat="card in $ctrl.deck track by $index" ng-show="!$ctrl.victory">
                    <div class="card" ng-class="{'flipped':card.show}" ng-click="$ctrl.selectCard(card)">
                        <div class="face front">
                            <img src="assets/img/cards/dwarf-face.png" style="background-color: white;" height="120" alt="Logo">
                            <h3>Dwarf Match</h3>
                        </div>
                        <div class="face back">
                            <h3>{{card.title}}</h3>
                            <img ng-src="{{card.url}}" height="80" alt="{{card.title}}">
                        </div>
                    </div>
                </div>

                <div class="alert alert-success" ng-show="$ctrl.victory">
                    <h1>You are victorious, However it took you a ridiculous {{$ctrl.attempts}} attempts to win. Perhaps you should focus on your memory rather than drinking <a href="http://freedrinkpubs.co.uk/promotion" target="_blank">Claim your free Pint</a></h1>
                </div>

            </div>
        </div>
    </div>
